server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:postgresql://localhost:5432/identity_service"
    username: postgres
    password: hjoEMY68
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    path: /api/v1
  swagger-ui:
    path: /swagger-ui.html
    enabled: true